* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#root {
    margin: 2em auto;
    max-width: 80%;
    font-size: 1.2em;
}
.btn {
    min-width: 7em;
    padding: 0.3em 1em;
    line-height: 2em;
    border-radius: 0.5em;
    background-color: #4ba834;
    color: #fff;
    font-weight: 900;
    border: none;
    display: inline-block;
}
.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 1em;
}

.btn.btn-edit {
    background-color: #387df3;
}
.btn.btn-delete {
    background-color: #f45538;
}

.btn.btn-add {
    display: block;
    margin-top: 2em;
}
.add-box > * {
    margin: 0.4em 0;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 1.3em;
    padding-bottom: 0.3em;
    border-bottom: 3px solid #000;
}

td {
    padding: 0.3em 0;
    border-bottom: 1px solid #ccc;
}

td:nth-child(3),
td:nth-child(2) {
    text-align: center;
}
