# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/JSX/th1-nhung-ten-vao-react/node_modules
/JSX/th2-tao-element-danh-sach-loai-qua/node_modules
/JSX/th3-hien-thi-thoi-gian/node_modules
/JSX-2/bt1-thong-tin-trinh-duyet/node_modules
/JSX-2/bt2-bang-thong-tin-sinh-vien/node_modules
/JSX-2/bt3-profile-card/node_modules
/JSX-2/bt4-signin-form/node_modules
/React-Components/bt1-alert-component/node_modules
/React-Components/bt2-component-danh-sach-sinh-vien/node_modules
/State-Lifecycle/bt1-component-expland-collapse/node_modules
/State-Lifecycle/bt2-may-tinh-don-gian/node_modules
/State-Lifecycle/bt3-su-kien-login-logout/node_modules
/State-Lifecycle/bt4-todo-app/node_modules
/State-Lifecycle/bt5-ung-dung-quan-ly-hoc-sinh/node_modules
/Hook/bt1-car-selection/node_modules
/Hook/bt2-timer/node_modules
/Hook/bt3-counter/node_modules
/JSX/bt4-hien-thi-thoi-gian/node_modules
/React-Components/th1-su-dung-props/node_modules
/React-Components/th3-xay-dung-function-component/node_modules
/cache
/React-Form/th1-form-dang-ky/node_modules
/React-Form/th2-validate-form-dang-ky/node_modules
/React-Form/th3-validate-form-login/node_modules
/React-Form/th4-validate-form-login-formik/node_modules
/API-Clients/th2-lay-danh-sach-user/node_modules